.box1{background-color: red;
    width: 20%; 
    margin-right: 4%;
    height: 600px;
}
.box2{background-color: yellow ;
    width: 20%;
    margin-right: 4%;
    height: 600px    
}
.box3{background-color:green ;
    width: 20%;
    margin-right: 4%;
    height: 600px
}
.box4{background-color:blue ;
    width: 20%;
    height: 600px
}
body{display: flex;
    justify-content:center ;
    padding-top: 5%;
    padding-bottom: 5%;
}
